.templateContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.templateContent{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  line-height: 1;
  background-color: var(--gray);
}