:root{
  --white: #ffffff;
  --dark: #020202;
  --gray: #222222;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Syne';
  line-height: 1.5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}


.completed{
  text-decoration:line-through;
}