:root{
  --white: #ffffff;
  --dark: #020202;
  --gray: #222222;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffd76e;
  font-family: 'Syne';
  line-height: 1.5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80vw;
  padding: 20px;
  height: 90vh;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;

}