:root{
  --bg: #FFD76E;
  --dark: #222;
  --gray: rgba(217, 217, 217, .5);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Syne';
  line-height: 1.5;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  justify-content: center;
}

.appContainer{
  width: 390px;
  background-color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 90vh;
  border: 2px solid var(--dark);
  border-radius: 20px;
  padding: 40px 30px;
}
